:root{
    --bg:#000000;
    --pipe:#e5e75d;
    --pipe-dark:#859121;
    --ground:#ffffff;
    --ground-dark:#ffffff;
}

html, body{ height: 100%; }
body{
    margin:0;
    display: grid;
    place-items: center;
    background:#222;
    color: 111;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrap{
    position: relative;   
}

canvas{
    background: var(--bg);
    border-radius: 16px;
    box-shadow: 0 20px 50px rgba(0,0,0,.45);
    image-rendering: pixelated;
}

.tips{
    position: absolute;
    inset: auto 0 -44px 0;
    text-align: center;
    color:#ddd;
    font-size: .9rem;
    opacity: .85;
}

.tips kbd{
    background: #333;
    color: #fff;
    padding: .1rem .4rem;
    border-radius: .3rem;
}